{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'mainpage/hero.html' %}
    {% include 'mainpage/benefits.html' %}
    {% include 'mainpage/work.html' %}
    {% include 'mainpage/about.html' %}
    {% include 'mainpage/services.html' %}
    {% include 'mainpage/feedback.html' %}
    {% include 'mainpage/pricing.html' %}
    {% include 'mainpage/faq.html' %}
    {% include 'mainpage/app.html' %}
    {% include 'mainpage/blog.html' %}
    {% include 'mainpage/overview.html' %}
{% endblock %}