{% load static %}
<div class="app-area">
   <div class="container">
      <div class="row justify-content-center align-items-center g-4">
         <div class="col-lg-7 col-md-12">
            <div class="app-content">
               <span class="sub">Download Our App</span>
               <h2>Your Health in Your Pocket—Anywhere, Anytime</h2>
               <p>Take Doutor with you wherever life takes you. Book appointments, chat with your doctor, access records, and manage prescriptions—all from your mobile device with just a few taps.</p>
               
               <ul class="apps-btn">
                  <li>
                     <a target="_blank" href="https://play.google.com/store/apps">
                        <img alt="google-play" loading="lazy" width="193" height="56" src="{% static 'images/app/google-play.svg' %}" />
                     </a>
                  </li>
                  <li>
                     <a target="_blank" href="https://www.apple.com/app-store/">
                        <img alt="app-store" loading="lazy" width="193" height="56" src="{% static 'images/app/app-store.svg' %}" />
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         
         <div class="col-lg-5 col-md-12">
            <div class="app-image">
               <img alt="app" loading="lazy" width="1053" height="1013" src="{% static 'images/app/app.png' %}" />
            </div>
         </div>
      </div>
   </div>
   
   <div class="app-shape">
      <img alt="shape" loading="lazy" width="174" height="136" src="{% static 'images/app/shape.png' %}" />
   </div>
</div>