{% load static %}
<div class="doctors-area ptb-140">
   <div class="container">
      <div class="section-title">
         <div class="row justify-content-center align-items-center g-4">
            <div class="col-lg-6 col-md-12">
               <div class="left">
                  <span class="sub wrap2">Our Doctors</span>
                  <h2>Meet the Licensed Doctors Who Power Doutor's Virtual Care</h2>
               </div>
            </div>
            <div class="col-lg-6 col-md-12">
               <div class="right wrap2">
                  <a class="link-btn" href="#">
                     View All Doctors
                     <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                        <path d="M12.5 0H0.5C0.224 0 0 0.224 0 0.5C0 0.776 0.224 1 0.5 1H11.2928L0.1465 12.1465C-0.04875 12.3417 -0.04875 12.6583 0.1465 12.8535C0.24425 12.9513 0.372 13 0.5 13C0.628 13 0.756 12.9513 0.8535 12.8535L12 1.707V12.5C12 12.776 12.224 13 12.5 13C12.776 13 13 12.776 13 12.5V0.5C13 0.224 12.776 0 12.5 0Z" fill="#336AEA"></path>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
      </div>
      
      <div class="row justify-content-center g-4">
         <!-- Doctor Card 1 -->
         <div class="col-xl-3 col-md-6">
            <div class="doctor-card">
               <div class="image">
                  <a href="#">
                     <img alt="Dr. Aisha Rahman" loading="lazy" width="340" height="340" src="{% static 'images/doctors/doctor1.png' %}" style="border-radius: 50%" />
                  </a>
               </div>
               <div class="content">
                  <h3><a href="#">Dr. Aisha Rahman</a></h3>
                  <span class="sub">MBBS, FCPS (Medicine)</span>
                  <span class="tag">Internal Medicine</span>
                  <span class="experience">12+ Years of Experience</span>
                  <div class="rating-info">
                     <ul class="list">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-half-fill"></i></li>
                     </ul>
                     <b>4.9</b>
                     <span>(3,560 Reviews)</span>
                  </div>
                  <div class="doctor-btn">
                     <a class="default-btn" href="#">
                        <span class="left">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                        Book Now
                        <span class="right">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <!-- Doctor Card 2 -->
         <div class="col-xl-3 col-md-6">
            <div class="doctor-card">
               <div class="image">
                  <a href="#">
                     <img alt="Dr. Mark Davis" loading="lazy" width="340" height="340" src="{% static 'images/doctors/doctor2.png' %}" style="border-radius: 50%" />
                  </a>
               </div>
               <div class="content">
                  <h3><a href="#">Dr. Mark Davis</a></h3>
                  <span class="sub">MD, Psychiatry</span>
                  <span class="tag">Mental Health</span>
                  <span class="experience">8+ Years of Experience</span>
                  <div class="rating-info">
                     <ul class="list">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-half-fill"></i></li>
                     </ul>
                     <b>4.8</b>
                     <span>(2,350 Reviews)</span>
                  </div>
                  <div class="doctor-btn">
                     <a class="default-btn" href="#">
                        <span class="left">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                        Book Now
                        <span class="right">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <!-- Doctor Card 3 -->
         <div class="col-xl-3 col-md-6">
            <div class="doctor-card">
               <div class="image">
                  <a href="#">
                     <img alt="Dr. Emily Carter" loading="lazy" width="340" height="340" src="{% static 'images/doctors/doctor3.png' %}" style="border-radius: 50%" />
                  </a>
               </div>
               <div class="content">
                  <h3><a href="#">Dr. Emily Carter</a></h3>
                  <span class="sub">MD, FAAD</span>
                  <span class="tag">Dermatology</span>
                  <span class="experience">11+ Years of Experience</span>
                  <div class="rating-info">
                     <ul class="list">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-half-fill"></i></li>
                     </ul>
                     <b>4.7</b>
                     <span>(1,375 Reviews)</span>
                  </div>
                  <div class="doctor-btn">
                     <a class="default-btn" href="#">
                        <span class="left">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                        Book Now
                        <span class="right">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>

         <!-- Doctor Card 4 -->
         <div class="col-xl-3 col-md-6">
            <div class="doctor-card">
               <div class="image">
                  <a href="#">
                     <img alt="Dr. Samuel Lee" loading="lazy" width="340" height="340" src="{% static 'images/doctors/doctor4.png' %}" style="border-radius: 50%" />
                  </a>
               </div>
               <div class="content">
                  <h3><a href="#">Dr. Samuel Lee</a></h3>
                  <span class="sub">MBBS, MD</span>
                  <span class="tag">Chronic Conditions</span>
                  <span class="experience">15+ Years of Experience</span>
                  <div class="rating-info">
                     <ul class="list">
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-fill"></i></li>
                        <li><i class="ri-star-half-fill"></i></li>
                     </ul>
                     <b>4.9</b>
                     <span>(4,892 Reviews)</span>
                  </div>
                  <div class="doctor-btn">
                     <a class="default-btn" href="#">
                        <span class="left">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                        Book Now
                        <span class="right">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                              <path d="M11.5385 0H0.461538C0.206769 0 0 0.206769 0 0.461538C0 0.716308 0.206769 0.923077 0.461538 0.923077H10.4241L0.135231 11.2122C-0.045 11.3924 -0.045 11.6845 0.135231 11.8648C0.225462 11.955 0.343385 12 0.461538 12C0.579692 12 0.697846 11.955 0.787846 11.8648L11.0769 1.57569V11.5385C11.0769 11.7932 11.2837 12 11.5385 12C11.7932 12 12 11.7932 12 11.5385V0.461538C12 0.206769 11.7932 0 11.5385 0Z" fill="#336AEA"></path>
                           </svg>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>