{% load static %}
{% load i18n %}
<div class="main-banner-area">
   <div class="container-fluid">
      <div class="row justify-content-center g-4">
         <div class="col-xxl-8 col-md-12">
            <div class="main-banner-content section-title-animation animation-style1">
               <div class="trust-info">
                  <h3>
                     <img alt="star" loading="lazy" width="25" height="23" src="{% static 'images/banner/star.svg' %}" />
                     <span>Trustpilot</span>
                  </h3>
                  <ul class="list">
                     <li><img alt="star2" loading="lazy" width="22" height="22" src="{% static 'images/banner/star2.svg' %}" /></li>
                     <li><img alt="star2" loading="lazy" width="22" height="22" src="{% static 'images/banner/star2.svg' %}" /></li>
                     <li><img alt="star2" loading="lazy" width="22" height="22" src="{% static 'images/banner/star2.svg' %}" /></li>
                     <li><img alt="star2" loading="lazy" width="22" height="22" src="{% static 'images/banner/star2.svg' %}" /></li>
                     <li><img alt="star2" loading="lazy" width="22" height="22" src="{% static 'images/banner/star2.svg' %}" /></li>
                  </ul>
                  <div class="review">75k+ Reviews</div>
               </div>
               
               <h1 class="title-animation">
                  Individual <span>Blister Packs </span>for Your Medications
               </h1>
               <p>Your medications precisely sorted by time of intake and dosage. Delivered directly to your home every 14 days.</p>
               
               <div class="banner-btn">
                  <a class="default-btn" href="#">
                     <span class="left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                           <path d="M17.8077 0.98584H1.19231C0.810154 0.98584 0.5 1.29599 0.5 1.67815C0.5 2.0603 0.810154 2.37046 1.19231 2.37046H16.1361L0.702846 17.8041C0.4325 18.0744 0.4325 18.5126 0.702846 18.783C0.838192 18.9183 1.01508 18.9858 1.19231 18.9858C1.36954 18.9858 1.54677 18.9183 1.68177 18.783L17.1154 3.34938V18.2935C17.1154 18.6757 17.4255 18.9858 17.8077 18.9858C18.1898 18.9858 18.5 18.6757 18.5 18.2935V1.67815C18.5 1.29599 18.1898 0.98584 17.8077 0.98584Z" fill="white"></path>
                        </svg>
                     </span>
                     <strong>Register Now</strong> - It's Free
                     <span class="right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                           <path d="M17.8077 0.98584H1.19231C0.810154 0.98584 0.5 1.29599 0.5 1.67815C0.5 2.0603 0.810154 2.37046 1.19231 2.37046H16.1361L0.702846 17.8041C0.4325 18.0744 0.4325 18.5126 0.702846 18.783C0.838192 18.9183 1.01508 18.9858 1.19231 18.9858C1.36954 18.9858 1.54677 18.9183 1.68177 18.783L17.1154 3.34938V18.2935C17.1154 18.6757 17.4255 18.9858 17.8077 18.9858C18.1898 18.9858 18.5 18.6757 18.5 18.2935V1.67815C18.5 1.29599 18.1898 0.98584 17.8077 0.98584Z" fill="white"></path>
                        </svg>
                     </span>
                  </a>
               </div>
<div class="banner-bottom">
                  <div class="info">
                     <div class="image d-flex align-items-center">
                        <img alt="user1" loading="lazy" width="41" height="41" src="{% static 'images/users/user1.png' %}" />
                        <img alt="user2" loading="lazy" width="41" height="41" src="{% static 'images/users/user2.png' %}" />
                        <img alt="user3" loading="lazy" width="41" height="41" src="{% static 'images/users/user3.png' %}" />
                     </div>
                     <div class="content">
                        <div class="d-flex align-items-center">
                           <h3 class="counter">3</h3>
                           <h3 class="sub">M+</h3>
                        </div>
                        <span>Members Treated</span>
                     </div>
                  </div>
                  <div class="wrap">
                     <a href="#">
                        <img alt="circle" loading="lazy" width="122" height="122" src="{% static 'images/banner/circle.svg' %}" />
                        <i class="ri-arrow-down-long-line"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         
         <div class="col-xxl-4 col-md-12">
            <div class="main-banner-image">
               <div class="image">
                  <img alt="banner" loading="lazy" width="1200" height="1320" src="{% static 'images/banner/banner.jpg' %}" />
               </div>
               <div class="fun-items">
                  <div class="fun">
                     <div class="d-flex align-items-center justify-content-center">
                        <h3 class="counter">12</h3>
                        <h3 class="sub">M+</h3>
                     </div>
                     <span>Virtual Patients Served</span>
                  </div>
                  <div class="fun before-none">
                     <div class="d-flex align-items-center justify-content-center">
                        <h3 class="counter">500</h3>
                        <h3 class="sub">+</h3>
                     </div>
                     <span>Licensed Doctors</span>
                  </div>
                  <div class="shape1">
                     <img alt="shape1" loading="lazy" width="139" height="86" src="{% static 'images/banner/shape1.png' %}" />
                  </div>
                  <div class="shape2">
                     <img alt="shape2" loading="lazy" width="163" height="164" src="{% static 'images/banner/shape2.png' %}" />
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>