{% load static %}
{% load i18n %}
{% load static %}
<footer class="footer-area">
   <div class="ptb-140">
      <div class="container">
         <div class="footer-top-content">
            <div class="row justify-content-center align-items-center g-4">
               <div class="col-lg-9 col-md-12">
                  <div class="left">
                     <div class="widget-logo">
                        <a href="#">
                           <img alt="logo" loading="lazy" width="134" height="35" src="{% static 'images/logo.svg' %}" />
                        </a>
                     </div>
                     <p>Doutor is a modern telemedicine platform committed to making high-quality healthcare accessible, affordable, and patient-centered.</p>
                  </div>
               </div>
               <div class="col-lg-3 col-md-12">
                  <ul class="right-social">
                     <li>
                        <a href="https://www.facebook.com/" target="_blank">
                           <img alt="facebook" loading="lazy" width="25" height="25" src="{% static 'images/icons/facebook.svg' %}" />
                        </a>
                     </li>
                     <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                           <img alt="linkedin" loading="lazy" width="25" height="25" src="{% static 'images/icons/linkedin.svg' %}" />
                        </a>
                     </li>
                     <li>
                        <a href="https://www.instagram.com/" target="_blank">
                           <img alt="instagram" loading="lazy" width="25" height="25" src="{% static 'images/icons/instagram.svg' %}" />
                        </a>
                     </li>
                     <li>
                        <a href="https://x.com/" target="_blank">
                           <img alt="x" loading="lazy" width="25" height="25" src="{% static 'images/icons/x.svg' %}" />
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         
         <div class="row justify-content-center g-4">
            <div class="col-lg-9 col-md-12">
               <div class="row justify-content-center g-4">
                  <div class="col-lg-3 col-sm-6">
                     <div class="single-footer-widget">
                        <h3>Company</h3>
                        <ul class="links">
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Our Doctors</a></li>
                           <li><a href="#">Services</a></li>
                           <li><a href="#">Our Blog</a></li>
                           <li><a href="#">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6">
                     <div class="single-footer-widget">
                        <h3>Services</h3>
                        <ul class="links">
                           <li><a href="#">General Medical</a></li>
                           <li><a href="#">Mental Health</a></li>
                           <li><a href="#">Dermatology</a></li>
                           <li><a href="#">Pediatrics</a></li>
                           <li><a href="#">Chronic Care</a></li>
                        </ul>
                     </div>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6">
                     <div class="single-footer-widget">
                        <h3>Support</h3>
                        <ul class="links">
                           <li><a href="#">FAQs</a></li>
                           <li><a href="#">Contact Us</a></li>
                           <li><a href="#">Insurance Info</a></li>
                           <li><a href="#">Technical Help</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                        </ul>
                     </div>
                  </div>
                  
                  <div class="col-lg-3 col-sm-6">
                     <div class="single-footer-widget">
                        <h3>Contact</h3>
                        <ul class="links">
                           <li><a href="mailto:support@doutor.com">Email: support@doutor.com</a></li>
                           <li><a href="tel:18004567890">Phone: +1 (800) 456-7890</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="col-lg-3 col-md-12">
               <div class="single-footer-widget end-style">
                  <h3>Download Our App</h3>
                  <ul class="apps-btn">
                     <li>
                        <a target="_blank" href="https://play.google.com/store/apps">
                           <img alt="google-play" loading="lazy" width="196" height="56" src="{% static 'images/app/google-play.svg' %}" />
                        </a>
                     </li>
                     <li>
                        <a target="_blank" href="https://www.apple.com/app-store/">
                           <img alt="app-store" loading="lazy" width="196" height="56" src="{% static 'images/app/app-store.svg' %}" />
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container">
      <div class="copyright-area">
         <div class="row justify-content-center align-items-center g-4">
            <div class="col-lg-6 col-md-12">
               <p>© <span>Doutor</span> is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
            </div>
            <div class="col-lg-6 col-md-12">
               <ul class="lists">
                  <li>HIPAA Compliant</li>
                  <li>GDPR Ready</li>
                  <li>SSL Secured</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>